.container {
    width: 350px;
}

div {
    border: 1px solid lightblue;
    box-shadow: 1px 5px 5px lightblue; 

h2 {
    text-align: center;

}
img {
    display: block;
    margin: auto;
}

h3 {
    background-color: grey;
    color: yellow;
}